#root {
  font-family: "Arial", sans-serif;
  color: #3b3b3b;
  margin: 0 20px 0 20px;
}

.profile {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 1em;
}

.profile h1 {
  font-size: 2.5em;
  margin: 0.5em;
}

.profile p {
  margin: 0.5em;
}

.profile-image {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin: 0 0 0.5em 0;
}

a {
  color: #1a0dab;
  font-weight: bold;
  text-decoration: none;
}

.bar {
  background-color: #e0e0e0;
  height: 10px;
  width: 40vw;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  background-color: #4caf50;
  height: 100%;
  border-radius: 5px;
}
